/* Reset default margins and paddings */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: "Raleway", sans-serif;
    /* background: url('images/background.jpg') center/cover no-repeat; */
}

.container {
    display: flex;
    align-items: center;
}


/* Define the style for project titles */
.project-title {
  font-weight: bold;
  font-size: 22px; /* Adjust the font size as needed */
  font-family: Arial, sans-serif; /* Adjust the font family as needed */
}

/* Define the style for project content lines */
.project-content {
  font-size: 16px; /* Adjust the font size as needed */
  font-family: Arial, sans-serif; /* Adjust the font family as needed */
}





/* Main Content Styles */
.w3-main {
    margin-left: 1px;
    background-color: rgba(32, 24, 24, 0.9); /* Faint white overlay color */
    color: #fcfafa; /* Adjust the color as needed */
}

/* Sidebar Styles */
.w3-sidebar {
    z-index: 3;
    width: 300px;
    background-color: rgba(32, 24, 24, 0.9); /* Faint white overlay color */
    color: #fcfafa; /* Adjust the color as needed */
}

.w3-sidebar a.w3-jumbo {
    font-size: 36px;
    padding: 20px;
}

/* Overlay Styles */
.w3-overlay {
    cursor: pointer;
}

.w3-round {
    width:70%;
    margin-bottom: 20px;
}
/* Contact Info and Education Styles */
.contact-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.social-link {
    color: rgb(115, 115, 230);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}


.edu-link {
    color: rgb(225, 225, 235);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}


@keyframes changeBackground {
    0% {
        background-image: url('images/ANN_1.jfif');
    }
    33% {
        background-image: url('images/ANN_2.jfif');
    }
    66% {
        background-image: url('images/ANN_3.jfif');
    }
    100% {
        background-image: url('images/ANN_1.jfif');
    }
}

.sidebar-header {
    animation: changeBackground 12s infinite;
    height: 200px; /* Set the appropriate height */
    width: 300px;
}


.background-image {
    height: 180px; /* Set the appropriate height */
    width: 300px;
    animation: changeBackground 12s infinite;
    background-size: cover;
    margin-left: 10px;
    margin-bottom: 10px;
    background-position: center;
    margin-left: 4px;
    
    
}




/* Droopdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  






  /* Styles for the welcome popup */
.welcome-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
  }
  
  .welcome-popup img {
    max-width: 80%;
    max-height: 80%;
    animation: welcomeAnimation 8s forwards;
  }
  
  /* Animation for welcome popup disappearance */
  @keyframes welcomeAnimation {
    0% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: scale(0.2) rotate(180deg);
      opacity: 0;
    }
  }

  



/* Background Video Settings */
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
  }
